/* 
    AUTHOR : AMAR CHOUDHARY
    MOBILE : 9968853896
    DATE : 28-07-2023
    IGNOU ENROLLMENT : 2001293674 
*/
body {
    background-color: #bdbcbc;
    background-size: cover;
    font-family: sans-serif;
}

.top {
    width: 100%;
    height: 70px;
    background-color: #000000;
}

.left {
    width: 50%;
    height: 40px;
    float: left;
    color: #f0f0f0;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 10px;
}

.left h2 {
    margin-left: 70%;
    font-size: 30px;
}

.right h5 {
    float: right;
    font-size: 20px;
    padding-right: 50px;
    word-spacing: 50px;
}

.righth {
    float: right;
    font-size: 20px;
    padding-right: 25px;
    word-spacing: 30px;
    padding-bottom: 5px
}

.top h5 a {
    text-decoration: none;
    color: white;
    margin-top: 15px;
}

.logo {
    width: 100%;
    height: 100px;
    background-color: #ffffff;

}

.logo h1 {
    color: #000;
    font-size: 36px;
    margin-left: 100px;
}


.logo p {
    font-size: 18px;
    color: black;
    padding-top: 50px;
    font-weight: bold;
    margin-left: 80%;
}

#menu {
    width: 100%;
    height: 40px;
    background-color: #000000;
    padding-top: 10px;
    font-size: 1px;
}

#menu a {
    font-size: 24px;
    text-align: center;
    margin-left: 70px;
    text-decoration: none;
    color: white;
}

#menu a:hover {
    color: #33ff00;
}

#menu select {
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-left: 70px;
    font-family: sans-serif;
    font-weight: bold;
}

.pick {
    background-image: url('image/carimg1.jpg');
    background-size: cover;
    height: 800px;
    padding-top: 40px;
    padding-left: 100px;
    border: 1px;
}

.image {
    width: 100%;
    background-color: #bdbdbd;
    float: left;
    height: 550px;
}

.image h3 {
    float: left;
    padding-left: 50px;
    padding-right: 80px;
    text-align: center;
    font-size: 15px;
}

.image h4 {
    float: right;
    padding-right: 65px;
    size: 18px;
    padding-bottom: 20px
}

.image img {
    height: 400px;
    width: 45%;
    transition: all 2s ease;
}

.image img:hover {
    width: 50%;
    height: 550px;
    background-color: #000;
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    cursor: pointer;
}

.frame {
    background-image: url('../image/cars/scorpio.jpg');
    background-size: cover;
    height: 800px;
    width: 100%;
    padding-top: 50px;
}

.frame form {
    width: 100%;
    height: 350px;
    background-color: #000000;
    opacity: 0.8;
}

.frame h1 {
    weight: bold;
    font-size: 40px;
}

.frame1 {
    background-image: url('../image/cars/McLaren2.jpg');
    background-size: cover;
    /* width: 100%; */
    padding: 10px;
    font-size: 30px;
}

.frame1 form {
    background-color: #000000;
    opacity: 0.8;
}

.frame1 form table {
    width: 400px;
    height: auto;
}


.frame1 form table td {
    width: 400px;
    height: 70px;
    text-align: left;
    size: 20px;
}

.frame1 form input[type=text],
input[type=date],input[type="password"],input[type="number"],input[type="email"] {
    width: 300px;
    height: 30px;
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.frame1 form select,option {
    width: 320px;
    height: 40px;
    margin-left: 10px;
    /* padding: 8px; */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.frame2 {
    text-align: center;
    background-image: url('../image/cars/ferrari.jpg');
    font-size: 30px;
    background-size: cover;
    padding-top: 40px;
}

.frame2 form {
    color: #99ff99;
    background-color: #000000;
    opacity: 0.8;
    padding: 25px;
    text-align: center;
    width: fit-content;
}

.frame2 h1 {
    font-weight: bold;
    font-size: 40px;
}





.frame2 textArea {
    width: 400px;
    height: 90px;
}

.frame2 a {
    color: #fff;
    text-decoration: none;
}

.frame2 a:hover {
    color: #66cc00;
}

.frame2.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image2 {
    background-image: url('image/7_1.jpg');
    background-size: cover;
    height: 800px;
    width: 1350px;
}

.image2 h1 {
    padding-top: 10%;
}

.image2 h2 {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.image3 {
    background-image: url('image/7_1.jpg');
    background-size: cover;
    height: 800px;
    width: 1350px;
}

.image3 h1 {
    padding-top: 10%;
}

.image3 h2 {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.footer {
    width: 100%;
    background-color: #000000;
    float: left;
    /* height: 350px; */
    padding-top: 0px;
}

.foot_top {
    width: 100%;
    height: 40%;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 0px;
}

.footer h4 {
    color: #fff;
    text-align: center;
}

.footer a {
    font-size: 24px;
    text-align: center;
    margin-left: 12%;
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: #66cc00;
}

.footer2 {
    display: inline-block;
    width: 70%;
    height: 300px;
    vertical-align: top;
    /* Align them at the top */
    box-sizing: border-box;
    /* Include padding and border in the width */
    padding-left: 20%;
    background-color: rgb(51 51 51);
}

.footer2 input[type=text] {
    width: 50%;
    height: 10%;
    background-color: #999;
    margin-top: 5px;
    border: none;
    padding-left: 10px;
    color: #fff;
}

.footer2 input[type=text]::placeholder {
    color: #fff;
    opacity: 1;
    width: 100px;
    height: 30px;
    /* background-color: #33ff00; */
    margin-top: 5px;
    color: #fff;
    border: none;
}

input[type=submit]:hover {
    background-color: #fff;
    color: #858f14;
    align-items: center;
    cursor: pointer;
}

.Address {

    color: #fff;
    width: 30%;
    height: 300px;
    float: right;
    background-color: #333;
    padding-left: 15px;
    font-size: 22px;
    vertical-align: top;
    /* Align them at the top */
    box-sizing: border-box;
    /* Include padding and border in the width */
}

.Address h5 {
    float: unset;
    text-align: left;
    font-size: 18px;
    color: #fff;
}

.product {
    width: 100%;
    height: 2200px;
    opacity: 0.92;
    background-color: #757575;
}

.block {
    height: 500px;
    width: 50%;
    float: left;
}

.block img {
    height: 400px;
    width: 600px;
    padding: 10px;
    margin-left: 20px;
    transition: 1s;
}

.block img:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
}

.block h3 {
    margin-left: 100px;
}


.payment {
    width: fit-content;
    /* height: 65%; */
    margin-top: 50px;
    margin-bottom: 50px;
    color: #33ff00;
    background-color: #000;
    opacity: 0.8;
    text-align: center;
    padding: 20px;

}

.payment input[type=text],input[type=number] {
    width: 300px;
    height: 30px;
    float: right;
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.payment form select,option {
    width: 320px;
    height: 40px;
    margin-left: 10px;
    /* padding: 8px; */
    border: 1px solid #ccc;
    border-radius: 4px;
}



input[type=number] {
    width: 300px;
    height: 30px;
    float: right;
}

table {
    font-size: 20px;
    width: 150px;
    margin-left: 7.5%;
    height: auto;
}

table td a {
    text-decoration: none;
    color: #33ff00;
}

.r1 {
    width: 60%;
    height: 400px;
    margin-left: 20%;
    color: #fff;
    background-color: black;
    opacity: 0.7;
}

.r1 h1 {
    margin-left: 40px;
}

.r2 {
    width: 600px;
    height: 400px;
    background-color: black;
    color: #fff;
    opacity: 0.7;
    margin-left: 400px;
}

.r2 table {
    width: 500px;
}

.r3 {
    width: 400px;
    height: 400px;
    background-color: black;
    color: #fff;
    opacity: 0.7;
    margin-left: 400px;
}

.accpect {
    width: 600px;
    height: 700px;
}

.r4 {
    width: 600px;
    height: 400px;
    background-color: black;
    color: #fff;
    opacity: 0.7;
    margin-left: 400px;
}

.t2 {
    background-color: #33ff00;
    text-align: center;
    width: 300px;
    height: 400px;
}

#middleIt {
    text-align: center;
    line-height: 3.8;
}


#adminName {
    font-size: large;
    text-shadow: 2px 2px 2px red;
    text-decoration: none;
}

#projectName {
    color: #000;
    font-size: 36px;
}

a {
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bolder;
    font-size: 20px;
}

.description {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    /* Include padding and border in the width */
    display: inline-block;
}

legend {

    font-weight: bold;
    font-size: 1.2em;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"] {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="reset"] {
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 10px;
}

input[type="submit"] {
    background-color: #37ff00;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 10px;
}

input[type="reset"]:hover {
    background-color: #db6060;
    color: #33ff00;
}

.modal-body {
    font-size: 50px;
    font-weight: bold;
    color: #e70b3e;
    text-align: center;
}

.welcome {
    width: 100%;
    height: 100px;
    font-weight: bold;
    font-size: 50px;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    width: 30%;
    /* Adjust this width as needed to fit three items in a row */
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.item h1 {
    font-size: 24px;
}

.item img {
    width: 100%;
    max-width: 200px;
    /* Adjust the max-width as needed */
    height: auto;
    mix-blend-mode: multiply;
    /* Apply the mix-blend-mode property */
}

.item img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.2);
    transition: transform 0.4s ease;
}

.item:hover img {
    mix-blend-mode: normal;
    cursor: pointer;
    /* Reset the mix-blend-mode on hover */
}


.item h3 {
    font-size: 16px;
    margin-top: 10px;
}

.item input[type='button'] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.item input[type='button']:hover {
    background-color: #00b39b;
    /* transform: scale(1.2); */
}

.frame.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* This centers the content vertically within the viewport */
}


.center-content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    /* Add background color */
    padding: 20px;
    color: #99ff99;
    border-radius: 10px;
    width: 60%;
    /* Set the desired width */
    max-width: 600px;
    /* Limit the maximum width */
}

.center-content h1 {
    font-weight: bold;
    font-size: 40px;
}

.center-content h3 {
    font-size: 20px;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Improve button styling */
.btn-reset {
    background-color: #ccc;
    color: #333;
}

.btn-reset:hover {
    background-color: #999;
}

.btn-submit {
    background-color: #33ff00;
}

.btn-submit:hover {
    background-color: #66cc00;
    color: #000;
}


.frame2.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* This centers the content vertically within the viewport */
}


.center-content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    /* Add background color */
    padding: 20px;
    color: #99ff99;
    border-radius: 10px;
    width: 60%;
    /* Set the desired width */
    max-width: 600px;
    /* Limit the maximum width */
}

.center-content label {
    font-weight: bold;
    font-size: 40px;
}

.center-content input {
    font-size: 20px;
    margin-top: 20px;
}

/* feedback.css */
.feedback-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */
.feedback-form {
    max-width: fit-content;
    /* Adjust the maximum width as needed */
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #99ff99;
    text-align: center;
}

/* Add responsive styles */
@media screen and (max-width: 768px) {
    .feedback-form {
        max-width: 90%;
    }
}

/* Add this CSS to make the buttons appear on the same row */
.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Add this CSS to center the login form both horizontally and vertically */
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    background-color: rgba(0, 0, 0, 0.8); /* Add background color */
    padding: 20px;
    color: #99ff99;
    border-radius: 10px;
    width: 60%; /* Set the desired width */
    max-width: 600px; /* Limit the maximum width */
    margin: 0 auto; /* Center horizontally */
}

.center-content legend {
    font-weight: bold;
    font-size: 24px;
}

.center-content label {
    font-size: 18px;
}

.center-content input[type="text"],
.center-content input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.center-content input[type="reset"],
.center-content input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    transition: background-color 0.3s ease; /* Add a transition effect */
}

.center-content input[type="reset"]:hover,
.center-content input[type="submit"]:hover {
    background-color: #0056b3;
}


/* Center the form both horizontally and vertically */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.custom-form {
    width: 80%; /* Adjust the width as needed */
    max-width: 400px; /* Set a maximum width for the form */
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Center the form buttons */
.button-group {
    display: flex;
    justify-content: space-between;
}

.animate-top{
    position:relative;
    animation:animatetop 0.4s
}
@keyframes animatetop{
    from{top:-300px;opacity:0} 
    to{top:0;opacity:1}
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.275);
}

.modal-content {
  margin: 5% auto;
  width: 500px;
  max-width: 90%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: .3rem;
  outline: 0;
}
.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    margin-top: 0;
    font-size: 1.25rem;
}
.modal-header .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    background-color: transparent;
    border: 0;
}
.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.modal-body {
    flex: 1 1 auto;
    padding: 1rem;
}
.modal-body p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}
.modal-footer>*{
    margin: 5px;
}

/* buttons */
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
}
.btn:focus, .btn:hover {
    text-decoration: none;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-secondary {
    color: #fff;
    background-color: #7c8287;
    border-color: #7c8287;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}


.login.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* This centers the content vertically within the viewport */
}


.login-content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    /* Add background color */
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    /* Set the desired width */
    max-width: 600px;
    /* Limit the maximum width */
}

.login-content a {
    font-weight: bold;
    font-size: 40px;
    color: #ff5731;
}

.login-content h1:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    cursor: pointer;
    transition: transform 0.4s ease;
}

.login {
    background-image: url('../image/restricted.webp');
    background-size: cover;
    height: 800px;
    width: 100%;
    padding-top: 50px;
}


.pbgi{
    background-image: url('../image/cars/Toyota.jpg');
    background-size: cover;
    height: 800px;
    width: 100%;
    padding-top: 50px;
}

/* ----------------------------------------ADMIN---------------------------------------------- */
.admintablesrn {
    font-weight: 900; 
    color: red; 
    font-size: 25px;
}

.admintable {
    font-weight: 900; 
    color: rgb(253, 253, 253); 
    font-size: 25px;
}


.container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-image: url('../image/adminHome.jpg');
    background-size: cover;
    height: 800px;
    width: 100%;
    padding-top: 50px;
}

.table {
    width: 80%;
    background-color: #000;
    opacity: 0.8;
}

.info {
    color: #ffffff;
    text-shadow: 2px 2px 2px red;
    font-size: larger;
    font-weight: 700;
}

.datainfo {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgb(1, 105, 14);
}

.admintitle {
    font-size: 50px;
    color: red;
    font-weight:800;
    text-shadow: 4px 5px 2px rgb(44, 34, 138);
    margin-bottom: 100px;
}

/* 
    AUTHOR : AMAR CHOUDHARY
    MOBILE : 9968853896
    DATE : 28-07-2023
    IGNOU ENROLLMENT : 2001293674 
*/